<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">내 정보</h1>

    <div class="form-group">
      <label >회원번호</label>
      <input type="text" class="form-control" name="mid" th:value="${dto.mid}" readonly >
    </div>

    <div class="form-group">
      <label >회원 이메일</label>
      <input type="text" class="form-control" name="email" th:value="${dto.email}" readonly >
    </div>

    <div class="form-group">
      <label >닉네임</label>
      <input type="text" class="form-control" name="nickname" th:value="${dto.nickname}" readonly >
    </div>

    <a th:href="@{/member/modify(mid = ${dto.mid})}">
      <button type="button" class="btn btn-primary">회원정보 수정</button>
    </a>

    <a th:href="@{/member/seller}">
      <button type="button" class="btn btn-primary seller">판매자 신청</button>
    </a>

    <script th:inline="javascript">

      var actionForm = $("form"); //form 태그 객체

      $(".seller").click(function(){

        if(!confirm("판매자 신청을 하시겠습니까?")){
          return ;
        }
      });

    </script>

  </th:block>

</th:block>